a {
	color: blue;
	text-decoration:		none;
}

a:hover,
a:active {
	color: red;
	text-decoration:		underline;
}

label:after {
	white-space:			pre;
	content:				"\A";
}

fieldset:disabled {
	color:					#999999;
}

fieldset {
	border:					none;
}
